
/*Group of 36
  Zhong Tao 300222579 
  Fengshou Xu 300036335 */
.header {
    border: 1px solid black; 
    background-color: lightblue; 
}
.column {
    float: left; 
    width: 50%; 
    border: 1px solid black; 
    background-color: lightgreen; 
}
.clear {
    clear: both; 
}
